{{extend 'layout.html'}}

{{block header}}
  {{if event.start_date.strftime('%m')==event.end_date.strftime('%m'):
      period = '%s à %s' % (event.start_date.strftime('%d'),event.end_date.strftime('%d'))
    else:
      period = '%s à %s' % (event.start_date.strftime('%d/%m'),event.end_date.strftime('%d/%m'))
    pass}}

  <div class="row">
    <div class="col-sm-7">
      <h2>
        <strong>{{=event.activity.activity}}</strong> 
      </h2>
      <strong>{{=event.center.shortname}} - {{=event.center.city}} ({{=event.center.country}})&nbsp;&nbsp;-&nbsp;&nbsp;{{=event.start_date.strftime('%b/%Y')}}</strong>
      <br>
      <h4>
        <span class="label label-{{='danger' if event.status=='CLS' else 'primary'}}">
          {{=T('CLOSE') if event.status=='CLS' else T('OPEN')}}
        </span>
      </h4>
    </div>
    <div class="col-sm-5 text-right">
      <em>data:</em> <strong>{{=period}}</strong><br />
      <em>inscrições até:</em> <strong>{{=event.reg_deadline.strftime('%d/%m/%y %H:%M')}}</strong><br />
      <em>{{=T('registration fee')}}:</em> <strong>${{=event.ref_value}}</strong><br />
      {{if not view_credits:}}
        {{if auth.has_membership('root') or (auth.has_membership('admin') and auth.user.center == event.center.id):}}
          {{if not admin_view:}}
            <em>inscritos no núcleo:</em> <span class="label label-primary">{{=event_records}}</span>&nbsp;&nbsp;
            <em>total no evento:</em> <span class="label label-primary">{{=total_registers}}</span>
          {{else:}}
            <em>inscritos no evento:</em> <span class="label label-primary">{{=total_registers}}</span>
          {{pass}}
        {{else:}}
          <em>inscritos no núcleo:</em> <span class="label label-primary">{{=event_records}}</span>&nbsp;&nbsp;
          <em>total no evento:</em> <span class="label label-primary">{{=total_registers}}
        {{pass}}
        {{if lates:}}
          <em>pós-pagamentos:</em> <span class="label label-danger">{{=len(lates)}}</span>
        {{pass}}
      {{else:}}
        <em>créditos antecipados:</em> <span class="label label-primary">{{=event_records}}</span>
      {{pass}}
      <br>
      {{if view_credits==True:}}
        <h4>créditos antecipados&nbsp;&nbsp;&nbsp;
          <small>
            <i>
              <a href="{{=URL('events', 'show', vars={'evenid':event.id, 'view_credits':False})}}">hospedes registrados <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
            </i>
          </small>
        </h4>
      {{else:}}
        <h4>hospedes registrados&nbsp;&nbsp;&nbsp;
          <small>
            <i>
              <a href="{{=URL('events', 'show', vars={'evenid':event.id, 'view_credits':True})}}">créditos antecipados <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></a>
            </i>
          </small>
        </h4>
      {{pass}}
    </div>
  </div>
  <br>
{{end}}

{{block control_menu}}
<div class="row">
  <div class="col-sm-8">
    {{ include 'events/elements/register_buttons.html' }}
  </div>
  <div class="col-sm-4">
    <div class="pull-right">
      {{=search}}
    </div>
  </div>
</div>
{{end}}

{{block link_menu}}
  {{include "link_menu_reports.html" if not session.admin_view else "link_menu_reports_admin.html"}}
{{end}}

{{if event_records > 0:}}
{{include 'paginator.html'}}

<div class="row">
  {{if rows:}}
  <table class="table table-striped">
    {{for i, row in enumerate(rows):}}
      {{ include 'events/elements/register_row.html' }}
    {{pass}}
  </table>
  {{else:}}
  <div class="alert alert-warning">
    <h4>Nenhum <b>{{=T('guest')}}</b> com "{{=term}}" no nome foi encontrado.</h4>
  </div>
  {{pass}}
</div>

{{ include 'paginator.html' }}
{{ pass }}

<div id="confirm" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

<style type="text/css">
div .table {
  font-family: monospace;
  font-size: 10pt;
}
</style>

<script type="text/javascript">
function regInfo(regid){
  ajax(`{{=URL('reports', 'register_info')}}/${regid}`, [], 'confirm');
}
function unEnrollVerify(regid){
  ajax(`{{=URL('register', 'unenroll_verify')}}?regid=${regid}`, [], 'confirm');
}
// ok
function unEnrollGenerateCreditGsc(regid){
  ajax(`{{=URL('register', 'unenroll_generate_credit_gsc')}}?regid=${regid}`, [], ':eval');
}
// ok
function unEnrollCancelRegistersGsc(regid){
  ajax(`{{=URL('register', 'unenroll_cancel_registers_gsc')}}?regid=${regid}`, [], ':eval');
}
// ok
function unEnrollCancelRegisterGsc(regid){
  ajax(`{{=URL('register', 'unenroll_cancel_register_gsc')}}?regid=${regid}`, [], ':eval');
}
// ok
function unEnrollGenCreditLikeRegister(regid){
  ajax(`{{=URL('register', 'unenroll_gen_credit_like_register')}}?regid=${regid}`, [], ':eval');
}
// ok
function unEnrollGenCreditRearranging(regid){
  ajax(`{{=URL('register', 'unenroll_gen_credit_rearranging')}}?regid=${regid}`, [], ':eval');
}
// ok
function unEnrollGenerateCredit(regid){
  ajax(`{{=URL('register', 'unenroll_generate_credit')}}?regid=${regid}`, [], ':eval');
}
// ok
function unEnrollCancelRegister(regid){
  ajax(`{{=URL('register', 'unenroll_cancel_register')}}?regid=${regid}`, [], ':eval');
}
// ok
function reEnableRegistration(regid){
  ajax(`{{=URL('register', 'reenable_registration')}}?regid=${regid}`, [], ':eval');
}
function eventOnOff(evenid){
  if (confirm("{{=T('Are you sure')}}?")) {
     ajax(`{{=URL('event_on_off')}}?evenid=${evenid}`, [], ':eval');
    }
};
function getBedroom(guesid, evenid) {
  ajax(`{{=URL('accommodations', 'guest_bedroom')}}?evenid=${evenid}&guesid=${guesid}`, [], 'confirm');
};
function removeFromBedroom(evenid, guesid, bedroomid) {
  ajax(`{{=URL('accommodations', 'remove_from_bedroom')}}?evenid=${evenid}&guesid=${guesid}&bedroomid=${bedroomid}&fromguest=T`, [], ':eval');
};
</script>