{{extend 'layout.html'}}

{{block header}}
  <div class="row">
    <div class="col-sm-8">
      <h3>
        {{if session.register.gencredit:}}
          Gerar Crédito&nbsp;<small>&nbsp;&nbsp;&nbsp;{{=T('step')}} 1 - selecione um hospede</small>
        {{else:}}
          Registro&nbsp;<small>&nbsp;&nbsp;&nbsp;{{=T('step')}} 1 - selecione um hospede</small>
        {{pass}}
      </h3>
    </div>
    <div class="col-sm-4">
      <div class="pull-right">
        <br>
        {{if not guest.status=="GWR" or guest.status=="JGC":}}
          {{if guest.status=="GC":
              btn = "success"
              txt = T("generate credit")
            else:
              btn = "primary"
              txt = T('subscribe')
            pass
          }}
          <button type="button"
                  class="btn btn-{{=btn}} {{if not stay:}}disabled{{pass}}"
                  onclick="include({{=guest.id}})">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> {{=txt}}
          </button>
        {{pass}}
        {{if session.register.late:
            link = URL('register', 'register_step1', vars={'evenid':evenid, 'centid':centid, 'late':True})
          else:
            link = URL('register', 'register_step1', vars={'evenid':evenid, 'centid':centid})
          pass
        }}
        <button type="button"
                class="btn btn-info"
                onclick="window.open('{{=link}}', '_self')">
          <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
          Voltar
        </button>
      </div>
    </div>
  </div>
{{end}}

<div class="row">
  <div class='col-sm-2'>
    <br />
    <div>
      <center>
      {{if guest.gender=='M':}}
        <img style="width: 160px;" src="{{=URL('static', 'images', args='spm.png')}}">
      {{else:}}
        <img style="width: 160px;" src="{{=URL('static', 'images', args='spf.png')}}">
      {{pass}}
      {{if guest.enrollment or guest.aspect:}}
      <h3>
        {{=ASPECTS[guest.aspect]}}
      </h3>
      {{pass}}
      {{if guest.status=="JGC":
          color, status = "warning", T('registered guest - only generate credit')
        elif guest.status=="GWR":
          color, status = "danger", T('registered guest')}}
      <span class="label label-{{=color}}">{{=status}}<span>
      {{pass}}
      </center>
    </div>
  </div>
  <div class="col-sm-5">
    {{ include 'register/elements/guest_detail.html' }}
  </div>
  <div class="col-sm-5">
    {{if stay:}}
      {{ include 'register/elements/stay_detail.html' }}
    {{else:}}
      <div class="alert alert-warning">
        <h4>Nenhuma <b>{{=T('stay')}}</b> pra este Centro de Conferência!</h4>
        <p>
          Inclua uma <b>{{=T('stay')}}</b>, ou contate o Administrador do Sistema caso não tenha permissão para isso.
        </p>
      </div>
      <div class="pull-right">
        <button type="button"
                class="btn btn-primary"
                onclick="window.open('{{=URL('guest','new_stay', vars={'guest_id':guest.id, 'center_id':centid, 'on_reg':True})}}', '_self')">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          Adicionar Estadia
        </button>
      </div>
    {{pass}}
    {{if guest.credit:}}
      <table class="table table-condensed table-hover">
        <caption>{{=T('guest credit')}}</caption>
        <tr>
          <td width="10%"><span class="text-primary"><b>{{=T('$')}}{{=guest.credit}}</b></span></td>
          <td width="75%"><span class="text-danger">{{=guest.credit_log}}</span></td>
        </tr>
      </table>
    {{pass}}
  </div>
</div>

<!-- modal -->
<div id="show_guest" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="shoGuest"></div>

<script type="text/javascript">
  function include(id){
    ajax("{{=URL('register', 'include_guest')}}?guesid="+id, [], ':eval');
    window.location.replace("{{=URL('register', 'register_step2')}}");
  };

  function goBack() {history.go(-1)};
</script>
