{{extend 'layout.html'}}

{{block header}}
  <div class="row">
    <div class="col-md-5">
      <h3>{{=guest}} <small>{{=T('edit stay')}}</small></h3>
    </div>
    <div class="col-md-7">
      <br>
      <div class="btn-group pull-right">
        {{ include 'save_button.html' }}

        <button type="button" class="btn btn-danger" onclick="delStay({{=stay}});">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          Apagar
        </button>

        <button type="button" class="btn btn-info" onclick="goBack()">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          Voltar
        </button>
      </div>
    </div>
  </div>
{{end}}

<div class="row">
  {{=form}}
</div>

<script type="text/javascript">
  function delStay(num){
    if (confirm("{{=T('Are you sure')}}?")) {
      ajax("{{=URL('guest', 'delete_stay')}}/"+num, [], ':eval');
      }
  };
</script>
