{{extend 'layout.html'}}

{{block header}}
  <div class="row">
    <div class="col-md-5">
      <h2>Hospedes</h2>
    </div>
    <div class="col-md-7">
      <br>
      <div class="btn-group pull-right">
        {{=search}}
        {{if auth.has_membership('root') or auth.has_membership('admin') or auth.has_membership('office'):}}
          <button type="button" class="btn btn-primary" onclick="window.open('{{=URL('new')}}', '_self')">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            Adicionar
          </button>
        {{pass}}
        <button type="button" class="btn btn-info" onclick="goBack()">
          <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
          Voltar
        </button>
      </div>
    </div>
  </div>
{{end}}

<!-- define the paginator -->
{{if rows:}}
  {{ include 'paginator.html' }}

  <br>
  {{ for i, row in enumerate(rows): }}
    {{ include 'guest/elements/guest_row.html' }}
  {{ pass }}
  <br>

  {{ include 'paginator.html' }}
{{ pass }}

<script type="text/javascript">
  function goBack() {history.go(-1)};
</script>

<style type="text/css">
  .my_row { 
    padding: .6rem;
    border-bottom: 1px solid #cccccc;
  }

  .my_row:hover {
    background-color: #cccccc;
  }
</style>