{{extend 'layout.html'}}

{{block header}}
  <h2>{{=T('guests')}}</h2>
{{end}}

{{block link_menu}}{{end}}

{{block control_menu}}
  {{=search}}
  <div class="btn-group" role="group">
    {{if auth.has_membership('root') or auth.has_membership('admin') or auth.has_membership('office'):}}
    <button type="button" class="btn btn-primary" onclick="window.open('{{=URL('new')}}', '_self')">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>
    {{pass}}
    <button type="button" class="btn btn-info" onclick="goBack()">
      <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
    </button>
  </div>
{{end}}

<!-- define the paginator -->
{{if rows:}}
  {{ include 'paginator.html' }}

  <br>

    {{for i, row in enumerate(rows):}}
      {{ include 'guest/elements/guest_row.html' }}
    {{pass}}

  <br>

  {{ include 'paginator.html' }}
{{ pass }}

<script type="text/javascript">
  function goBack() {history.go(-1)};
</script>

<style type="text/css">
  .my_row { 
    padding: .6rem;
    border-bottom: 1px solid #cccccc;
  }

  .my_row:hover {
    background-color: #cccccc;
  }
</style>