{{extend 'layout.html'}}

{{block header}}
  {{
    if gender=='M':
      gender_txt = T('masculine')
    elif gender=='F':
      gender_txt = T('feminine')
    else:
      gender_txt = T('mixed')
    pass
  }}

  <div class="col-md-5">
    <h3>
      <strong>{{=building_repr % rows[0]['builid']}}
        <small>&nbsp;&nbsp;{{=gender_txt}}</small>
      </strong>
    </h3>
  </div>
  <div class="col-md-7">
    <br>
    <div class="btn-group pull-right">
      {{if auth.has_membership('root') or auth.has_membership('admin'):}}
      <button type="button"
              class="btn btn-primary"
              onclick="window.open('{{=URL('new_bedroom', vars={'builid':rows[0].builid, 'gender':gender})}}', '_self')">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        Adicionar quarto
      </button>
      {{pass}}
      
      <button type="button" 
              class="btn btn-info" 
              onclick="window.open('{{=URL('building', 'show_building', vars={'builid':rows[0].builid})}}', '_self')">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        Voltar
      </button>
    </div>
  </div>
{{end}}

<div>
  {{
    floor, floor_txt = 1000, ''
    for n, row in enumerate(rows):
  }}
    {{
      if row.floor_room != floor:
        floor = row.floor_room
        if floor < 0:
          floor_txt = 'subsolo %s' % abs(floor)
        elif floor == 0:
          floor_txt = 'terreo'
        else:
          floor_txt = '%so. andar' % floor
        pass
    }}
   
      <h3><strong>{{=floor_txt}}</strong></h3>

      <div class="d-flex flex-row flex-wrap">
        {{
          for r in rows:
            if r.floor_room == floor:
        }}

          <div 
            class="card"
            onclick="window.open('{{=URL('show_bedroom', vars={'bedroomid':r.id})}}', '_self')"
            style="width: 15rem; padding-top: 1rem;"
          >
              <h4><strong>{{=r.bedroom}}</strong></h4>
              <div class="d-flex flex-row flex-wrap">
                {{beds = int(r.beds) - int(r.top_bunks)}}
                  {{
                    if r.top_bunks:
                      for i in range(int(r.beds)-beds):
                  }}
                  <img src="{{=URL('static', 'images/bedicons', args='bed_YY.png')}}">
                  {{
                      pass
                      for i in range(beds):
                  }}
                  <img src="{{=URL('static', 'images/bedicons', args='bed_Y.png')}}">
                  {{
                      pass
                    else:
                      for i in range(beds):
                  }}
                  <img src="{{=URL('static', 'images/bedicons', args='bed_Y.png')}}">
                  {{
                      pass
                    pass
                  }}
              </div>
          </div>
          {{pass}}
        {{pass}}
      </div>
    {{pass}}
  {{pass}}
</div>