{{extend 'layout.html'}}

{{block header}}
{{
  if bedroom.gender=='M':
    gender_txt = T('masculine')
  elif bedroom.gender=='F':
    bedroom.gender=='F'
  else:
    gender_txt = T('mixed')
  pass
}}
  <div class="col-md-5">
    <h3>
      <strong>{{=building_repr % bedroom.builid}}
        <small>
          &nbsp;&nbsp;|&nbsp;&nbsp;{{=gender_txt}}
          &nbsp;&nbsp;|&nbsp;&nbsp;<strong>{{=bedroom.bedroom}}</strong>
        </small>
      </strong>
    </h3>
  </div>
  <div class="col-md-7">
    <br>
    <div class="btn-group pull-right">
      {{if auth.has_membership('root') or auth.has_membership('admin'):}}
      <button type="button"
            class="btn btn-{{='danger' if bedroom.is_active else 'primary'}}"
            onclick="BedroomOnOff({{=bedroom.id}})">
        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
        {{='Desativar' if bedroom.is_active else 'Ativar'}}
      </button>
      <button type="button"
            class="btn btn-warning"
            onclick="window.open('{{=URL('edit_bedroom', vars={'bedroomid':bedroom.id})}}', '_self')">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        Editar o quarto
      </button>
      <button type="button"
            class="btn btn-danger"
            onclick="delBedroom({{=bedroom.id}},{{=bedroom.builid}})">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        Apagar o quarto
      </button>
      {{pass}}
      
      <button type="button" 
              class="btn btn-info" 
              onclick="window.open('{{=URL('list_bedrooms_by_gender', vars={'builid':bedroom.builid, 'gender':bedroom.gender})}}', '_self')">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        Voltar
      </button>
    </div>
  </div>
{{end}}

<div class="row">
  {{if bedroom.top_bunks:}}
  <div class="col-sm-4">
    <table class="table table-striped">
      <caption>camas de baixo</caption>
      {{for i in range(int(bedroom.beds)):}}
      <tr>
        <td width="30px">
          <img src="{{=URL('static', 'images/bedicons', args='bed_BY.png')}}" draggable="true"><br>
        </td>
        <td>{{=T('ready to use')}}</td>
      </tr>
      {{pass}}
    </table>
  </div>
  <div class="col-sm-4">
    <table class="table table-striped">
      <caption>camas de cima</caption>
      {{for i in range(int(bedroom.top_bunks)):}}
      <tr>
        <td width="30px">
          <img src="{{=URL('static', 'images/bedicons', args='bed_TY.png')}}" draggable="true"><br>
        </td>
        <td>{{=T('ready to use')}}</td>
      </tr>
      {{pass}}
    </table>
  </div>
  {{else:}}
  <div class="col-sm-4">
    <table class="table table-striped">
      <caption>camas</caption>
      {{for i in range(int(bedroom.beds)):}}
      <tr>
        <td width="30px">
          <img src="{{=URL('static', 'images/bedicons', args='bed_Y.png')}}" draggable="true"><br>
        </td>
        <td>{{=T('ready to use')}}</td>
      </tr>
      {{pass}}
    </table>
  </div>
  {{pass}}
</div>

<div id="confirm" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

<style type="text/css">
div .table {
  font-family: monospace;
  font-size: 10pt;
}
</style>

<script type="text/javascript">
function BedroomOnOff(bid){
  if (confirm("{{=T('Are you sure')}}?")) {
     ajax(`{{=URL('bedroom_on_off')}}?bedroomid=${bid}`, [], ':eval');
    }
};
function delBedroom(bid){
  if (confirm("{{=T('Are you sure')}}?")) {
     ajax(`{{=URL('delete_bedroom')}}?bedroomid=${bid}`, [], ':eval');
    }
};
</script>
