{{extend 'layout.html'}}

{{block header}}
{{
  if gender=='M':
    gender_txt = T('masculine')
    gender_color = 'primary'
  elif gender=='F':
    gender_txt = T('feminine')
    gender_color = 'warning'
  else:
    gender_txt = T('mixed')
    gender_color = 'info'
  pass
}}
  <div class="row">
    <div class="col-lg-8">
      <h3>
        <strong>{{=building_repr % builid}}</strong>
        <small>
          &nbsp;&nbsp;|&nbsp;&nbsp;
          <span class="text-{{=gender_color}}">{{=gender_txt}}</span>
        </small>
      </h3>
    </div>
    <div class="col-lg-4">
      <br>
      {{if session.mapp.difference and event.status == 'OPN':}}
        <span class="pull-right">
          {{=T('there is a difference between bedrooms and the mapping')}}
          <strong><a href="#" onclick="updateMapping({{=event.id}});">{{=T('fix it')}}?</a></strong>
        </span>
      {{pass}}
      {{ if guests_unallocated: }}
        <button 
          type="button"
          class="btn pull-right"
          data-toggle="modal"
          data-target="#confirm"
          onclick="#"
        >
          <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
          Gerenciar não alocados
        </button>
      {{ pass }}
    </div>
  </div>
{{end}}


{{block control_menu}}
  <ol class="breadcrumb">
    <li><a href="{{=URL('events', 'show', vars={'evenid': event.id, 'admin_view':'T'})}}">{{=T('event')}}</a></li>
    <li><a href="{{=URL('accommodations', 'buildings_on_event', vars={'evenid': event.id})}}">{{=T('buildings')}}</a></li>
    <li><a href="{{=URL('accommodations', 'building_on_event', vars={'builid':builid, 'evenid': event.id})}}">{{=T('building')}}</a></li>
    <li class="active">{{=T('bedrooms by gender')}}</li>
  </ol>
  
{{end}}

<div>
  {{
    floor, floor_txt = 1000, ''
    for n, row in enumerate(rows):
  }}
    {{
      if row['floor'] != floor:
        floor = row['floor']
        if floor < 0:
          floor_txt = 'subsolo %s' % abs(floor)
        elif floor == 0:
          floor_txt = 'terreo'
        else:
          floor_txt = '%so. andar' % floor
        pass
    }}
   
    <h3><strong>{{=floor_txt}}</strong></h3>

    <div class="d-flex flex-row flex-wrap">
      {{
        for r in rows:
          if r['floor'] == floor:
      }}

        <div 
          class="card"
          onclick="window.open('{{=URL('accommodations', 'bedroom_on_event', vars={'bedroomid':r['id'], 'evenid':event.id, 'gender':gender})}}', '_self')"
          style="width: 15rem; padding-top: 1rem;"
        >
            <h4><strong>{{=r['name']}}</strong></h4>
            <div class="d-flex flex-row flex-wrap">
              {{for m in r['mapp']:}}
                <img src="{{=URL('static', 'images/bedicons', args='bed_%s.png' % m)}}" draggable="true">
              {{pass}}
            </div>
        </div>
        {{pass}}
      {{pass}}
    </div>


  {{pass}}
{{pass}}

</div>

<div 
  id="confirm" 
  class="modal fade" 
  tabindex="-1" 
  role="dialog" 
  aria-labelledby="myModalLabel" 
  aria-hidden="true"
>
  <div class="modal-dialog">
    {{ include 'accommodations/elements/guests_unallocated.html' }}
  </div>
</div>