{{extend 'layout.html'}}

{{block header}}
{{
  if bedroom.gender=='M':
    gender_txt = T('masculine')
    gender_color = 'primary'
  elif bedroom.gender=='F':
    gender_txt = T('feminine')
    gender_color = 'warning'
  else:
    gender_txt = T('mixed')
    gender_color = 'info'
  pass

  if bedroom.floor_room == 0:
    floor = "Terreo"
  elif bedroom.floor_room < 0:
    floor = "Subsolo %s" % abs(bedroom.floor_room)
  else:
    floor = "%so." % bedroom.floor_room
  pass

}}
  <div class="row">
    <div class="col-lg-8">
      <h3>
        <strong>{{= building[1] }}</strong>
        <small>
          &nbsp;&nbsp;|&nbsp;&nbsp;
          <span class="text-{{= gender_color }}">{{= gender_txt }}</span>
          &nbsp;&nbsp;|&nbsp;&nbsp;
          Quarto {{= bedroom.bedroom }}
          &nbsp;&nbsp;|&nbsp;&nbsp;
          Andar {{= floor }}
        </small>
      </h3>
    </div>
    <div class="col-lg-4">
      <br>
      {{if session.mapp.difference and event.status == 'OPN':}}
        <span class="pull-right">
          {{=T('there is a difference between bedrooms and the mapping')}}
          <strong><a href="#" onclick="updateMapping({{=event.id}});">{{=T('fix it')}}?</a></strong>
        </span>
      {{pass}}
      {{ if guests_unallocated: }}
        <button 
          type="button"
          class="btn pull-right"
          data-toggle="modal"
          data-target="#confirm"
          onclick="#"
        >
          <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
          Gerenciar não alocados
        </button>
      {{ pass }}
    </div>
  </div>
{{end}}

{{block control_menu}}
  <ol class="breadcrumb">
    <li><a href="{{=URL('events', 'show', vars={'evenid': event.id, 'admin_view':'T'})}}">{{=T('event')}}</a></li>
    <li><a href="{{=URL('accommodations', 'buildings_on_event', vars={'evenid': event.id})}}">{{=T('buildings')}}</a></li>
    <li><a href="{{=URL('accommodations', 'building_on_event', vars={'builid':building[0], 'evenid': event.id})}}">{{=T('building')}}</a></li>
    <li><a href="{{=URL('accommodations', 'bedrooms_by_gender_on_event', vars={'builid':building[0],'gender':bedroom.gender, 'evenid':event.id})}}">{{=T('bedrooms by gender')}}</a></li>
    <li class="active">{{=T('bedroom')}}</li>
  </ol>
{{end}}

{{block link_menu}}
{{end}}

<div class="row">
  {{if bedroom.tops:}}
    <div class="col-lg-4">
      <h4>Camas de baixo</h4>
      <table class="table table-striped">
        {{for i in bedroom.beds:}}
          {{if i > 0:}}
          <tr style="height: 6rem;">
            <td width="50px">
              <img width="35px" src="{{=URL('static', 'images/bedicons', args='bed_BN.png')}}"><br>
            </td>
            <td>
              {{=guests[i]['name']}}
              <br>
              {{label = 'success'
                if guests[i]['age']>35 and guests[i]['age']<60:
                  label = 'warning'
                elif guests[i]['age']>=60:
                  label = 'danger'
                pass}}
              <span class="label label-{{=label}}" style="margin-right: 10px;">{{=guests[i]['age']}}</span>
              {{if guests[i]['no_stairs']:}}
                <img style="margin-right: 10px;" src="{{=URL('static', 'images/bedicons', args='NoStairs.png')}}" width="22px">
              {{pass}}
              {{if guests[i]['no_top_bunk']:}}
                <img style="margin-right: 10px;" src="{{=URL('static', 'images/bedicons', args='NoTopBunks.png')}}" width="22px">
              {{pass}}
            </td>
            <td>
              <button type="button"
                      class="btn btn-danger btn-xs pull-right"
                      onclick="removeFromBedroom({{=i}})">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
              </button>
            </td>
          </tr>
          {{else:}}
          <tr style="height: 6rem;">
            <td width="50px">
              <img width="35px" src="{{=URL('static', 'images/bedicons', args='bed_BY.png')}}" draggable="true">
            </td>
            <td colspan="2">
              {{=T('ready to use')}}<br>
            </td>
          </tr>
          {{pass}}
        {{pass}}
      </table>
    </div>
    <div class="col-lg-4">
      <h4>Camas de cima</h4>
      <table class="table table-striped">
        {{for i in bedroom.tops:}}
          {{if i > 0:}}
          <tr style="height: 6rem;">
            <td width="50px">
              <img width="35px" src="{{=URL('static', 'images/bedicons', args='bed_TN.png')}}" draggable="true">
            </td>
            <td>
              {{=guests[i]['name']}}
              <br>
              {{label = 'success'
                if guests[i]['age']>35 and guests[i]['age']<60:
                  label = 'warning'
                elif guests[i]['age']>=60:
                  label = 'danger'
                pass}}
              <span class="label label-{{=label}}" style="margin-right: 10px;">{{=guests[i]['age']}}</span>
              {{if guests[i]['no_stairs']:}}
                <img style="margin-right: 10px;" src="{{=URL('static', 'images/bedicons', args='NoStairs.png')}}" width="22px">
              {{pass}}
              {{if guests[i]['no_top_bunk']:}}
                <img style="margin-right: 10px;" src="{{=URL('static', 'images/bedicons', args='NoTopBunks.png')}}" width="22px">
              {{pass}}
            </td>
            <td>
              <button type="button"
                      class="btn btn-danger btn-xs pull-right"
                      onclick="removeFromBedroom({{=i}})">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
              </button>
            </td>
          </tr>
          {{else:}}
          <tr style="height: 6rem;">
            <td width="50px">
              <img width="35px" src="{{=URL('static', 'images/bedicons', args='bed_TY.png')}}" draggable="true">
            </td>
            <td colspan="2">
              {{=T('ready to use')}}
            </td>
          </tr>
          {{pass}}
        {{pass}}
      </table>
    </div>
  {{else:}}
    <div class="col-lg-4">
      <h4>Camas</h4>
      <table class="table table-striped">
        {{for i in bedroom.beds:}}
          {{if i > 0:}}
          <tr style="height: 6rem;">
            <td width="50px">
              <img width="35px" src="{{=URL('static', 'images/bedicons', args='bed_N.png')}}">
            </td>
            <td>
              {{= guests[i]['name'] }}
              <br>
              {{label = 'success'
                if guests[i]['age']>35 and guests[i]['age']<60:
                  label = 'warning'
                elif guests[i]['age']>=60:
                  label = 'danger'
                pass}}
              <span class="label label-{{=label}}" style="margin-right: 10px;">{{=guests[i]['age']}}</span>
              {{if guests[i]['no_stairs']:}}
                <img style="margin-right: 10px;" src="{{=URL('static', 'images/bedicons', args='NoStairs.png')}}" width="22px">
              {{pass}}
              {{if guests[i]['no_top_bunk']:}}
                <img style="margin-right: 10px;" src="{{=URL('static', 'images/bedicons', args='NoTopBunks.png')}}" width="22px">
              {{pass}}
            </td>
            <td>
              <button type="button"
                      class="btn btn-danger btn-xs pull-right"
                      onclick="removeFromBedroom({{=i}})">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
              </button>
            </td>
          </tr>
          {{else:}}
          <tr style="height: 6rem;">
            <td width="50px">
              <img width="35px" src="{{=URL('static', 'images/bedicons', args='bed_Y.png')}}">
            </td>
            <td colspan="2">
              {{=T('ready to use')}}
            </td>
          </tr>
          {{pass}}
        {{pass}}
      </table>
    </div>
  {{pass}}
</div>

<div 
  id="confirm" 
  class="modal fade" 
  tabindex="-1" 
  role="dialog" 
  aria-labelledby="myModalLabel" 
  aria-hidden="true"
>
  <div class="modal-dialog">
    {{ include 'accommodations/elements/guests_unallocated.html' }}
  </div>
</div>

<style type="text/css">
div table td {
  line-height: 2.1rem !important;
  font-family: monospace;
  font-weight: bold;
  font-size: 10pt;
}
</style>

<script type="text/javascript">
  function addToBedroom(gid, rid){
    var bd = {{=bedroom.id}};
    var gn = '{{=bedroom.gender}}';
    var ev = {{=event.id}};
    if (confirm("{{=T('Are you sure')}}?")) {
      ajax(`{{=URL('accommodations', 'add_to_bedroom')}}?evenid=${ev}&bedroomid=${bd}&guesid=${gid}&regid=${rid}&gender=${gn}`, [], ':eval');
    }
  }

  function removeFromBedroom(gs){
    var bd = {{=bedroom.id}};
    var ev = {{=event.id}};
    if (confirm("{{=T('Are you sure')}}?")) {
      ajax(`{{=URL('accommodations', 'remove_from_bedroom')}}?evenid=${ev}&bedroomid=${bd}&guesid=${gs}`, [], ':eval');
    }
  }
</script>
