{{ extend 'layout.html' }}

{{block header}}
  <div class="row">
    <div class="col-lg-8">
      <h3><strong>Escolha um prédio</strong></h3>
    </div>
    <div class="col-lg-4">
      <br>
      {{if session.mapp.difference and event.status == 'OPN':}}
        <span class="pull-right">
          {{=T('there is a difference between bedrooms and the mapping')}}
          <strong><a href="#" onclick="updateMapping({{=event.id}});">{{=T('fix it')}}?</a></strong>
        </span>
      {{pass}}
      {{if guests_unallocated:}}
        <button 
          type="button"
          class="btn pull-right"
          data-toggle="modal"
          data-target="#confirm"
          onclick="#"
        >
          <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
          Gerenciar não alocados
        </button>
      {{pass}}
    </div>
  </div>
{{end}}

{{block control_menu}}
  <ol class="breadcrumb">
    <li><a href="{{=URL('events', 'show', vars={'evenid': event.id, 'admin_view':'T'})}}">{{=T('event')}}</a></li>
    <li class="active">{{=T('buildings')}}</li>
  </ol>
{{end}}

{{if rows:}}
  <div class="d-flex flex-row flex-wrap flex-evenly">
    {{for row in rows:}}
      {{ include 'accommodations/elements/building.html' }}
    {{pass}}
  </div>
{{pass}}

<div 
  id="confirm" 
  class="modal fade" 
  tabindex="-1" 
  role="dialog" 
  aria-labelledby="myModalLabel" 
  aria-hidden="true"
>
  <div class="modal-dialog">
    {{ include 'accommodations/elements/guests_unallocated.html' }}
  </div>
</div>

<script type="text/javascript">
  function addToBedroom(gid) {
    var ev = {{=event.id}};
    if (confirm("{{=T('Are you sure')}}?")) {
      ajax(`{{=URL('accommodations', 'choose_a_bedroom')}}?evenid=${ev}&guesid=${gid}`, [], ':eval');
    }
  }

  function updateMapping(ev) {
    if (confirm("{{=T('Are you sure')}}?")) {
      ajax(`{{=URL('mapping', 'ajax_update_mapping')}}?evenid=${ev}`, [], ':eval');
    }
  }

  function goBack() {history.go(-1)};
</script>
