{{extend 'layout.html'}}

{{block header}}
  <div class="row">
    <div class="col-lg-8">
      <h3><strong>{{=building.building}}</strong></h3>
    </div>
    <div class="col-lg-4">
      <br>
      {{if session.mapp.difference and event.status == 'OPN':}}
        <span class="pull-right">
          {{=T('there is a difference between bedrooms and the mapping')}}
          <strong><a href="#" onclick="updateMapping({{=event.id}});">{{=T('fix it')}}?</a></strong>
        </span>
      {{pass}}
      {{ if guests_unallocated: }}
        <button 
          type="button"
          class="btn pull-right"
          data-toggle="modal"
          data-target="#confirm"
          onclick="#"
        >
          <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
          Gerenciar não alocados
        </button>
      {{ pass }}
    </div>
  </div>
{{end}}

{{block control_menu}}
  <ol class="breadcrumb">
    <li><a href="{{=URL('events', 'show', vars={'evenid': event.id, 'admin_view':'T'})}}">{{=T('event')}}</a></li>
    <li><a href="{{=URL('accommodations', 'buildings_on_event', vars={'evenid': event.id})}}">{{=T('buildings')}}</a></li>
    <li class="active">{{=T('building')}}</li>
  </ol>
{{end}}

<div class="d-flex flex-row flex-wrap">
  {{if building.male[0]>0:}}
    <div 
      class="card"
      onclick="window.open('{{=URL('accommodations', 'bedrooms_by_gender_on_event', vars={'builid':building.id, 'gender': 'M', 'evenid':event.id})}}', '_self')"
      style="width: 30rem; height: auto;"
    >
      <div class="text-center">
        <img style="width: 100px;" src="{{=URL('static', 'images', args='spm.png')}}">
      </div>
      <div class="card-body">
        <h4 class="card-title text-center"><strong>Alojamentos <br>Masculinos</strong></h4>
        <table class="table table-condensed">
          <tr>
            <th class="text-right" width="50%">{{=T('bedrooms')}}</th>
            <th><span class="text-default">{{=building.male[0]}}</span></th>
          </tr>
          <tr>
            <th class="text-right">{{=T('beds')}}</th>
            <th>
              <span class="text-primary">{{=building.male[1]}}</span>
              {{if building.male[2]:}}
                - <span class="text-danger">{{=building.male[2]}}</span>
                = <span class="text-success">{{=building.male[3]}}</span>
              {{pass}}
            </th>
          </tr>
          <tr>
            <th class="text-right">{{=T('top bunks')}}</th>
            <th>
              <span class="text-primary">{{=building.male[4]}}</span>
              {{if building.male[5]:}}
                - <span class="text-danger">{{=building.male[5]}}</span>
                = <span class="text-success">{{=building.male[6]}}</span>
              {{pass}}
            </th>
          </tr>
          <tr>
            <th class="text-right">{{=T('vacancies')}}</th>
            <th><span class="text-success" style="font-size:16pt;">{{=(building.male[3] + building.male[6])}}</span></th>
          </tr>
        </table>
      </div>
    </div>
  {{pass}}

  {{if building.female[0]>0:}}
    <div 
      class="card"
      onclick="window.open('{{=URL('accommodations', 'bedrooms_by_gender_on_event', vars={'builid':building.id, 'gender': 'F', 'evenid':event.id})}}', '_self')"
      style="width: 30rem; height: auto;"
    >
      <div class="text-center">
        <img style="width: 100px;" src="{{=URL('static', 'images', args='spf.png')}}">
      </div>
      <div class="card-body">
        <h4 class="card-title text-center"><strong>Alojamentos <br>Femininos</strong></h4>
        <table class="table table-condensed">
          <tr>
            <th class="text-right" width="50%">{{=T('bedrooms')}}</th>
            <th><span class="text-default">{{=building.female[0]}}</span></th>
          </tr>
          <tr>
            <th class="text-right">{{=T('beds')}}</th>
            <th>
              <span class="text-primary">{{=building.female[1]}}</span>
              {{if building.female[2]:}}
                - <span class="text-danger">{{=building.female[2]}}</span>
                = <span class="text-success">{{=building.female[3]}}</span>
              {{pass}}
            </th>
          </tr>
          <tr>
            <th class="text-right">{{=T('top bunks')}}</th>
            <th>
              <span class="text-primary">{{=building.female[4]}}</span>
              {{if building.female[5]:}}
                - <span class="text-danger">{{=building.female[5]}}</span>
                = <span class="text-success">{{=building.female[6]}}</span>
              {{pass}}
            </th>
          </tr>
          <tr>
            <th class="text-right">{{=T('vacancies')}}</th>
            <th><span class="text-success" style="font-size:16pt;">{{=(building.female[3] + building.female[6])}}</span></th>
          </tr>
        </table>
      </div>
    </div>
  {{pass}}

  {{if building.mixed[0]>0:}}
    <div 
      class="card"
      onclick="window.open('{{=URL('accommodations', 'bedrooms_by_gender_on_event', vars={'builid':building.id, 'gender': 'X', 'evenid':event.id})}}', '_self')"
      style="width: 30rem; height: auto;"
    >
      <div class="text-center">
        <img style="width: 100px;" src="{{=URL('static', 'images', args='mixed.png')}}">
      </div>
      <div class="card-body">
        <h4 class="card-title text-center"><strong>Alojamentos <br>Mistos</strong></h4>
        <table class="table table-condensed">
          <tr>
            <th class="text-right" width="50%">{{=T('bedrooms')}}</th>
            <th><span class="text-default">{{=building.mixed[0]}}</span></th>
          </tr>
          <tr>
            <th class="text-right">{{=T('beds')}}</th>
            <th>
              <span class="text-primary">{{=building.mixed[1]}}</span>
              {{if building.mixed[2]:}}
                - <span class="text-danger">{{=building.mixed[2]}}</span>
                = <span class="text-success">{{=building.mixed[3]}}</span>
              {{pass}}
            </th>
          </tr>
          <tr>
            <th class="text-right">{{=T('top bunks')}}</th>
            <th>
              <span class="text-primary">{{=building.mixed[4]}}</span>
              {{if building.mixed[5]:}}
                - <span class="text-danger">{{=building.mixed[5]}}</span>
                = <span class="text-success">{{=building.mixed[6]}}</span>
              {{pass}}
            </th>
          </tr>
          <tr>
            <th class="text-right">{{=T('vacancies')}}</th>
            <th><span class="text-success" style="font-size:16pt;">{{=(building.mixed[3] + building.mixed[6])}}</span></th>
          </tr>
        </table>
      </div>
    </div>
  {{pass}}

</div>

<div 
  id="confirm" 
  class="modal fade" 
  tabindex="-1" 
  role="dialog" 
  aria-labelledby="myModalLabel" 
  aria-hidden="true"
>
  <div class="modal-dialog">
    {{ include 'accommodations/elements/guests_unallocated.html' }}
  </div>
</div>

<style type="text/css">
</style>

<script type="text/javascript">
function addToBedroom(gid) {
  var ev = {{=event.id}};
  if (confirm("{{=T('Are you sure')}}?")) {
    ajax(`{{=URL('accommodations', 'choose_a_bedroom')}}?evenid=${ev}&guesid=${gid}`, [], ':eval');
  }
}

function goBack() {history.go(-1)};
</script>
